mixin sKey(data)
	// start sKey
	+b.SECTION.sKey.section#sKey&attributes(attributes)
		mixin item(i, t)
			+e.slide.swiper-slide
				+b.sKey-item
					p.strong!= t
					+e.img-wrap
						+img(`img/graf-${i}.png`).res-i
		.container
			+b.section-title
				.h1 Ключ  к суперсиле
				h2 Откройте #[span новые возможности] в&nbsp;трейдинге с Нейроботом!
				p #[span.text-primary Откройте новые возможности в трейдинге с Нейроботом!] Это универсальный конструктор, позволяющий быстро обучить нейронную сеть на данных любого актива, доступного у Вас в&nbsp;Metatrader 5.
			+e.panel--bg
				+e.inner
					h4 Создавайте прибыльные торговые стратегии там, где не удается создать другие типы стратегий (трендовые, циклические и т.д.).
					+e.slider--js.swiper.slider-auto-js
						+e.grid.swiper-wrapper
							+item(1, 'Например, вот так выглядит кривая доходности классической трендовой стратегии на рынке Форекс (валютная пара USD/JPY).')
							+item(2, 'А это кривая доходности нейросетевой стратегии на том же активе.')
					h4 Достаточно наглядно?
					p С помощью Нейробота можно создавать автоматические прибыльные стратегии даже на тех рынках, где раньше можно было торговать только вручную.
			+e.panel--bg
				+e.inner
						h4 Генерируйте торговые стратегии в неограниченном количестве.
						p Создавайте торговые стратегии с разными нейросетями внутри, на разных рынках и активах, на разных таймфреймах.  Если со временем какая-то из стратегий перестанет приносить прибыль, ее не жалко выкинуть из портфеля. У Вас всегда есть, чем ее заменить.

						p.fw-600 Нейробот – бесконечный источник прибыльных торговых стратегий.
			+e.panel--bg
				+e.inner
					h4 Создавайте стратегии с более плавным ростом депозита
					p Это фишка нейросетевых стратегий. Скрытые паттерны, которые они используют, позволяют добиться более стабильного роста капитала, чем у других типов торговых стратегий.
					+e.slider--js.swiper.slider-auto-js
						+e.grid.swiper-wrapper
							+item(3, 'Кривая роста депозита трендовой стратегии на фьючерсе доллар/рубль')
							+item(4, 'Кривая роста депозита нейросетевой стратегии на фьючерсе доллар/рубль')
							
							+item(5, 'Кривая роста депозита трендовой стратегии на индексе Nasdaq')
							+item(6, 'Кривая роста депозита нейросетевой стратегии на индексе Nasdaq')

					h4.text-center Плавность нейросетевых стратегий – это не только меньшие риски и более стабильная прибыль, это еще и прямой путь к росту доходности.
			+e.slider--cards.--js.swiper.slider-auto-js
				+e.card-row.swiper-wrapper
					mixin card(i,t,p)
						+e.slide.swiper-slide
							+b.card-item.card-gradient
								+e.img-wrap
									+img(`img/card-${i}.svg`)
								h4!= t
								p!= p
					+card(`1`,`Быстро запускайте в работу автоматические источники дохода`,`Ставьте стратегию в автоматическую торговлю сразу после ее создания с помощью Нейробота.`)

					+card(`2`,`Будьте всегда в курсе, что происходит с Вашими роботами.`,`Нейробот будет присылать уведомления (об открытии позиций, о необходимости снять стратегию) прямо Вам в Телеграм. Вы не пропустите важную информацию.`)

					+card(`3`,`Тонко настраивайте свои стратегии, выжимайте из них максимум прибыли.`,`Добавляйте в стратегию линейные фильтры сделок, настраивайте риск-менеджмент, защиту от просадок и т.д. <br> Нейробот может автоматически подбирать лучшие варианты для каждого из параметров торговой стратегии.`)

					+card(`4`,`Управляйте армией умных торговых роботов.`,`Торгуйте параллельно портфелем торговых роботов на одном или нескольких активах. <br> Вопрос стабильной прибыли в автоматическом трейдинге решается только с помощью портфеля.`)

					+card(`5`,`Позвольте Нейроботу зарабатывать для Вас деньги, даже когда Вы спите.`,`Это и есть финальная задача, которую решает Нейробот. Источник дохода, который работает автоматически, а Вы на 100% уверены в его надежности.`) 
			.text-center.section-footer
			
				h4.text-secondary Готовы получить суперсилу в мире трейдинга?
				br
				a.btn.btn-primary(href="#sForm") Жмите, чтобы забрать своего Нейробота прямо сейчас 
		// end sKey